# Ignore filetypes (alphabetical)
###############################################
*.mat
*~


# Ignore directories (alphabetical)
###############################################
/.svn/
/externals/
/build/
/build32/
/build64/


# Ignore Dymola files (in alphabetical order)
###############################################
*.bak-mo
*.moe
*.mof
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel.c
dsmodelext[0-9].c
dsres.txt
dymosim.exe
dymosim.exp
dymosim.lib
dymosim
unitTests.log
empty.txt
request
stat
status
stop
stop.
